@charset "UTF-8";
.error { color:red; font-style: italic }
.message { color: blue; font-style: italic }
thead {vertical-align:bottom;}
table { font-family: verdana; text-align: left;}
th { text-align: left;}
